/* Reset */
body {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Component */
.l_wrapper {
    box-shadow: inset 0 0 10px red;
    width: 520px;
    margin: 200px auto;
}